    footer {
        background-color: cadetblue;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }


    /* ONLY USED IN VIEW-ALL PAGE */
    #createButton {
        position: sticky;
        bottom: 5rem;
    }